* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdfdfd;
    font-size: 16px;
    line-height: 1.5;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #205caa;
}
.pre {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}
code {
    font-family: monospace;
}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}
.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    background-color: transparent;
    font-size: 26px;
    width: 100%;
}
.wrap {
    max-width: 840px;
    margin: 0 auto;
    zoom: 1;
}
.wrap:before,
.wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.site-header a {
    color: #333;
    text-decoration: none;
}
.site-title {
    color: #333;
    letter-spacing: -1px;
    float: left;
    margin: 5px 0;
}
.site-description {
    float: left;
    line-height: 32px;
    margin-left: 20px;
    font-size: 50%;
    color: #999;
}
.page-content {
    max-width: 840px;
    margin: 0 auto;
    padding: 30px 0 10px;
    background-color: white;
    zoom: 1;
}
dl {
    margin: 20px;
}
dd {
    margin-left: 20px;
}
b {
    color: #502000;
    font-family: monospace, courier;
}
i {
    color: #006000;
    font-family: monospace, courier;
}
.items {
    list-style-type: none;
}
.items li {
    margin-bottom: 30px;
}
.items .item-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
}
.items .item-category {
    display: block;
    font-size: 15px;
    color: #818181;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
    line-height: 1;
    font-weight: 400;
    margin: 30px 0 20px;
}
.page-content h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
}
.page-content h3 {
    font-size: 26px;
    letter-spacing: -1px;
}
.page-content h4 {
    font-size: 20px;
    letter-spacing: -1px;
}
.page-content blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
}
.highlight pre {
    border: 1px solid #d5d5e9;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 15px;
    overflow: auto;
    white-space: pre-wrap;
    background-color: rgba(200, 215, 215, 0.1);
    font-family: monospace, courier;
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    width: 100%;
}
.site-footer .footer-content {
    float: right;
    text-align: right;
    max-width: 840px;
    margin: 10px auto;
    font-size: 50%;
}
.footer-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}
.site-footer .column {
    float: right;
    margin: 10px 0;
}
.site-footer ul {
    list-style: none;
    float: left;
    margin: 0;
}
.site-footer li {
    font-size: 15px;
    color: #828282;
    float: left;
    margin-left: 20px;
}
.icon.github {
    margin-right: 3px;
}
ul {
    list-style-type: none;
}
.github-icon-svg,
.twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}
ul.items li {
    margin-bottom: 15px;
}
table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
table > tbody > tr:hover {
    background-color: #ffe;
}