* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdfdfd;
    font-size: 16px;
    line-height: 1.5;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #205caa;
}
pre {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}
i {
    color: rgba(136,136,136,1);
    font-style: normal;
}
.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    background-color: transparent;
    font-size: 26px;
    width: 100%;
}
.wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
    zoom: 1;
}
@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }
}
.wrap:before, .wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.doubleline {
    border: none 0;
    border-top: 3px double #eee;
    width: 100%;
    height: 3px;
    margin: 10px auto 0 0;
}
.singleline {
    width: 100%;
    margin: 10px auto 0 0;
    border-top: 1px solid #eee;
}
.site-header a {
    color: #333;
    text-decoration: none;
}
.site-title {
    color: #333;
    letter-spacing: -1px;
    float: left;
    margin: 5px 0;
}
.site-description {
    float: left;
    line-height: 32px;
    margin-left: 20px;
    font-size: 50%;
    color: #999;
}
.page-content {
    padding: 30px 0 10px;
    background-color: white;
    zoom: 1;
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    width: 100%;
}
.site-footer .footer-content {
    float: right;
    margin: 10px auto;
    font-size: 80%;
}
