* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdfdfd;
    font-size: 16px;
    line-height: 1.3;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #205caa;
}
.pre, .vim-code {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}
.vim-code {
  margin: 20px auto;
}
.vim-key {
    font-family: monospace;
    padding: 1px 4px;
    margin: 0 8px;
    border: 1px solid #d5d5e9;
    border-radius: 2px;
    font-size: 85%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.04);
}
code {
    font-family: monospace;
}
.doubleline {
    border: none 0;
    border-top: 3px double #eee;
    width: 100%;
    height: 3px;
    margin: 10px auto 0 0;
}
.singleline {
    width: 100%;
    margin: 0px auto 0 0;
    border-top: 1px solid #eee;
}
.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    background-color: transparent;
    width: 100%;
}
.wrap {
    max-width: 840px;
    padding: 0 12px;
    margin: 0 auto;
    font-size: 26px;
    zoom: 1;
}
.wrap:before, .wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.site-header a {
    color: #333;
    text-decoration: none;
}
.site-title {
    color: #333;
    letter-spacing: -1px;
    float: left;
    margin: 5px 0;
}
.site-description {
    float: left;
    line-height: 30px;
    margin-left: 20px;
    font-size: 50%;
    color: #999;
}
.page-content {
    max-width: 840px;
    margin: 0 auto;
    padding: 10px 12px 10px;
    background-color: white;
    zoom: 1;
}
.vim-chapter {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
.anchor {
    font-weight: bolder;
}
.vim, .help {
    color: rgb(0, 136, 136);
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    width: 100%;
}
.site-footer .footer-content {
    float: right;
    text-align: right;
    max-width: 840px;
    margin: 10px auto;
    font-size: 50%;
}
