* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdfdfd;
    font-size: 16px;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #205caa;
}
.pre {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}
code {
    font-family: monospace;
}
.doubleline {
    border: none 0;
    border-top: 3px double #eee;
    width: 100%;
    height: 3px;
    margin: 10px auto 0 0;
}
.singleline {
    width: 100%;
    margin: 0px auto 0 0;
    border-top: 1px solid #eee;
}
.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}
.wrap {
    max-width: 840px;
    padding: 0 12px;
    margin: 0 auto;
    font-size: 26px;
    zoom: 1;
}
.site-header a {
    color: #333;
    text-decoration: none;
}
.site-title {
    color: #333;
    letter-spacing: -1px;
    float: left;
    margin: 5px 0;
}
.site-description {
    float: left;
    line-height: 30px;
    margin-left: 20px;
    font-size: 50%;
    color: #999;
}
.site-nav {
    float: right;
}
.page-content {
    max-width: 840px;
    margin: 0 auto;
    padding: 50px 12px 10px;
    background-color: white;
    zoom: 1;
}
.vim-chapter {
    border-bottom: 1px solid #eee;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}
.anchor {
    font-weight: bolder;
}
.header {
    color: rgb(164, 32, 246);
}
.section {
    color: rgb(164, 32, 246);
}
.keystroke {
    color: rgb(106, 89, 205);
}
.vim, .help {
    color: rgb(0, 136, 136);
}
.example {
    color: rgb(0, 0, 255);
}
.special {
    color: rgb(106, 89, 205);
}
.note {
    color: blue;
    background-color: yellow;
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    width: 100%;
}
.site-footer .footer-content {
    float: right;
    text-align: right;
    max-width: 840px;
    margin: 10px auto;
    font-size: 50%;
}
