/* Containers
----------------------------------------------------------------------------------------------------*/
 .container_16 {
    margin-left: 20px;
    margin-right: auto;
    width: 1200px;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
 .alpha {
    margin-left: 0 !important;
}
.omega {
    margin-right: 0 !important;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 10.0px;
    margin-right: 10.0px;
}
/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/
 .container_16 .grid_1 {
    width:55px;
}
.container_16 .grid_2 {
    width:130px;
}
.container_16 .grid_3 {
    width:205px;
}
.container_16 .grid_4 {
    width:280px;
}
.container_16 .grid_5 {
    width:355px;
}
.container_16 .grid_6 {
    width:430px;
}
.container_16 .grid_7 {
    width:505px;
}
.container_16 .grid_8 {
    width:580px;
}
.container_16 .grid_9 {
    width:655px;
}
.container_16 .grid_10 {
    width:730px;
}
.container_16 .grid_11 {
    width:805px;
}
.container_16 .grid_12 {
    width:880px;
}
.container_16 .grid_13 {
    width:955px;
}
.container_16 .grid_14 {
    width:1030px;
}
.container_16 .grid_15 {
    width:1105px;
}
.container_16 .grid_16 {
    width:1180px;
}
/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/
 .container_16 .prefix_1 {
    padding-left:75px;
}
.container_16 .prefix_2 {
    padding-left:150px;
}
.container_16 .prefix_3 {
    padding-left:225px;
}
.container_16 .prefix_4 {
    padding-left:300px;
}
.container_16 .prefix_5 {
    padding-left:375px;
}
.container_16 .prefix_6 {
    padding-left:450px;
}
.container_16 .prefix_7 {
    padding-left:525px;
}
.container_16 .prefix_8 {
    padding-left:600px;
}
.container_16 .prefix_9 {
    padding-left:675px;
}
.container_16 .prefix_10 {
    padding-left:750px;
}
.container_16 .prefix_11 {
    padding-left:825px;
}
.container_16 .prefix_12 {
    padding-left:900px;
}
.container_16 .prefix_13 {
    padding-left:975px;
}
.container_16 .prefix_14 {
    padding-left:1050px;
}
.container_16 .prefix_15 {
    padding-left:1125px;
}
/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/
 .container_16 .suffix_1 {
    padding-right:75px;
}
.container_16 .suffix_2 {
    padding-right:150px;
}
.container_16 .suffix_3 {
    padding-right:225px;
}
.container_16 .suffix_4 {
    padding-right:300px;
}
.container_16 .suffix_5 {
    padding-right:375px;
}
.container_16 .suffix_6 {
    padding-right:450px;
}
.container_16 .suffix_7 {
    padding-right:525px;
}
.container_16 .suffix_8 {
    padding-right:600px;
}
.container_16 .suffix_9 {
    padding-right:675px;
}
.container_16 .suffix_10 {
    padding-right:750px;
}
.container_16 .suffix_11 {
    padding-right:825px;
}
.container_16 .suffix_12 {
    padding-right:900px;
}
.container_16 .suffix_13 {
    padding-right:975px;
}
.container_16 .suffix_14 {
    padding-right:1050px;
}
.container_16 .suffix_15 {
    padding-right:1125px;
}
/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/
 .container_16 .push_1 {
    left:75px;
}
.container_16 .push_2 {
    left:150px;
}
.container_16 .push_3 {
    left:225px;
}
.container_16 .push_4 {
    left:300px;
}
.container_16 .push_5 {
    left:375px;
}
.container_16 .push_6 {
    left:450px;
}
.container_16 .push_7 {
    left:525px;
}
.container_16 .push_8 {
    left:600px;
}
.container_16 .push_9 {
    left:675px;
}
.container_16 .push_10 {
    left:750px;
}
.container_16 .push_11 {
    left:825px;
}
.container_16 .push_12 {
    left:900px;
}
.container_16 .push_13 {
    left:975px;
}
.container_16 .push_14 {
    left:1050px;
}
.container_16 .push_15 {
    left:1125px;
}
/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/
 .container_16 .pull_1 {
    right:75px;
}
.container_16 .pull_2 {
    right:150px;
}
.container_16 .pull_3 {
    right:225px;
}
.container_16 .pull_4 {
    right:300px;
}
.container_16 .pull_5 {
    right:375px;
}
.container_16 .pull_6 {
    right:450px;
}
.container_16 .pull_7 {
    right:525px;
}
.container_16 .pull_8 {
    right:600px;
}
.container_16 .pull_9 {
    right:675px;
}
.container_16 .pull_10 {
    right:750px;
}
.container_16 .pull_11 {
    right:825px;
}
.container_16 .pull_12 {
    right:900px;
}
.container_16 .pull_13 {
    right:975px;
}
.container_16 .pull_14 {
    right:1050px;
}
.container_16 .pull_15 {
    right:1125px;
}
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
 .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
    content:' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
html, body {
    margin: 0;
    padding: 0;
    background: url(git-cheatsheet/images/vCanvas.jpg);
}
a, a:link, a:visited {
    color: #cd0074;
    text-decoration: none;
}
a:hover {
    color: #990057;
    text-decoration: underline;
}
em:before {
    opacity: 0.5;
    content:"<";
}
em:after {
    opacity: 0.5;
    content:">";
}
span.optional:before {
    opacity: 0.5;
    content:"[";
}
span.optional:after {
    opacity: 0.5;
    content:"]";
}
#hd {
}
#hd * {
    margin: 0;
    padding: 0;
}
#hd h1 {
    font: 50px ImpactLabelRegular, ImpactLabelReversedRegular, verdana;
}
#hd h2 {
    text-align: right;
    position: absolute;
    right: 0;
    top: 44px;
    color: #cd0074;
    background-color: #d9b0b0;
    font: normal 21px ImpactLabelReversedRegular, ImpactLabelRegular, verdana;
}
#hd ul {
    margin-top: 2px;
    margin-bottom: -10px;
}
#hd ul li {
    font: 16px/20px courier, monospaced;
    display: block;
    text-align: right;
    color: #cc338a;
}
#hd h6 {
    text-align: right;
    color: #b34d86;
    position: fixed;
    bottom: 3px;
    left: 20px;
    font: 12px courier, monospaced;
    z-index: 1000;
}
#hd h4 {
    margin-top: 5px;
    margin-bottom: -15px;
}
#hd .lang {
    cursor: pointer;
    background-color: #dc9898;
    color: #ede9e9;
    border: 1px solid transparent;
    padding: 1px 2px;
    font: 12px courier, monospaced;
}
#hd .lang.selected {
    background-color: #cf7272;
    color: #fff;
}
#hd .lang.selected:hover {
    text-decoration: none;
}
#hd .lang:hover {
    color: #fff;
}
#diagram {
    margin-top: 20px;
    position: relative;
    height: 6.3in;
    margin-bottom: 2cm;
    padding: 1px 0;
}
.loc {
    position: relative;
    height: 100%;
    cursor: pointer;
    opacity: 0.7;
    -moz-box-shadow: 3px 3px 2px #ccc;
    -webkit-box-shadow: 3px 3px 2px #ccc;
    box-shadow: 3px 3px 2px #ccc;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ccc');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ccc');
}
.loc .bar {
    position: absolute;
    left: 45%;
    top: 50px;
    border: 1px dashed white;
    border-top: none;
    width: 10px;
    height: 535px;
}
.loc h5 {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 11px 0 20px 0;
    font: 30px ImpactLabelReversedRegular, ImpactLabelRegular, verdana;
    color: #333;
}
.loc p {
    bottom: 0;
    position: absolute;
    padding: 0 20px;
    font: 15px courier, monospaced;
    color: white;
    visibility: hidden;
}
.loc.hovered {
    -moz-box-shadow: 2px 2px 6px #999;
    -webkit-box-shadow: 2px 2px 6px #999;
    box-shadow: 2px 2px 6px #999;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999');
}
.loc.current {
    -moz-box-shadow: 4px 4px 6px #555;
    -webkit-box-shadow: 4px 4px 6px #555;
    box-shadow: 4px 4px 6px #555;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555');
}
.loc.current p {
    visibility: visible;
}
.loc.current h5 {
    color: white;
}
#commands {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    font: 15px courier, monospaced;
    height: 0;
    margin: 0;
    padding: 0;
}
#commands > dd {
    display: none;
}
#commands > dt {
    color: #dddddd;
    margin-bottom: 4px;
    float: left;
    clear: left;
    padding: 2px 5px;
    line-height: 13px;
    position: relative;
    opacity: 0.3;
    display: none;
    cursor: pointer;
}
#commands > dt.selected {
    padding: 2px 5px;
    opacity: 0.8;
    -moz-box-shadow: 1px 1px 3px #999;
    -webkit-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999');
}
#commands > dt.up {
    color: #ffffff;
}
#commands > dt.up > .arrow {
    width: 0;
    height: 0;
    border: 9px solid transparent;
    position: absolute;
    right: -18px;
    top: 0;
}
#commands > dt.dn {
    color: #ffffff;
}
#commands > dt.dn > .arrow {
    width: 0;
    height: 0;
    border: 9px solid transparent;
    position: absolute;
    left: -18px;
    top: 0;
}
#commands > dt.status {
    border-color: #b3a2a2;
    background-color: #846C6C;
    color: #f8f7f7;
}
#commands > dt.status.selected {
    background-color: #766060;
}
#info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 20px 0;
    font: 15px/20px courier, monospaced;
    z-index: 1;
}
#info .screen {
    z-index: -1;
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 150%;
    background-color: #F6EBD9;
    opacity: 0.8;
}
#info .cmd, #info .doc {
    min-height: 3em;
    font-size: 18px;
}
#info .cmd {
    float: left;
    margin-right: 20px;
    width: 35%;
    color: black;
    text-align: right;
    text-decoration: underline;
}
#info .doc {
    float: left;
    width: 55%;
    color: #4d4d4d;
}
#info .doc code {
    color: black;
    font-weight: 600;
}
#remote_repo .bar, #local_repo .bar {
    top: 78px;
    height: 507px;
}
#stash {
    border: 1px dotted transparent;
    color: #bf3030;
    background-color: #b3a2a2;
}
#stash .bar {
    border-color: #6e1c1c;
}
body.stash #stash {
    color: white;
    background-color: #c03030;
}
body.stash #commands > dt.stash {
    display: block;
    opacity: 0.9;
}
body.stash #commands > dt.stash.selected {
    opacity: 1;
}
body.stash #commands {
}
body.stash #commands dt.up {
    background-color: #b43c3c;
    border-color: #b43c3c;
}
body.stash #commands dt.up > .arrow {
    border-left-color: #b43c3c;
}
body.stash #commands dt.up.selected {
    background-color: #8e2f2f;
}
body.stash #commands dt.up.selected > .arrow {
    border-left-color: #8e2f2f;
}
body.stash #commands dt.dn {
    background-color: #a13636;
    border-color: #a13636;
}
body.stash #commands dt.dn > .arrow {
    border-right-color: #a13636;
}
body.stash #commands dt.dn.selected {
    background-color: #7a2929;
}
body.stash #commands dt.dn.selected > .arrow {
    border-right-color: #7a2929;
}
#workspace {
    border: 1px dotted transparent;
    color: #f15050;
    background-color: #e3c4c4;
}
#workspace .bar {
    border-color: #cb1010;
}
body.workspace #workspace {
    color: white;
    background-color: #f15050;
}
body.workspace #commands > dt.workspace {
    display: block;
    opacity: 0.9;
}
body.workspace #commands > dt.workspace.selected {
    opacity: 1;
}
body.workspace #commands {
}
body.workspace #commands dt.up {
    background-color: #e75a5a;
    border-color: #e75a5a;
}
body.workspace #commands dt.up > .arrow {
    border-left-color: #e75a5a;
}
body.workspace #commands dt.up.selected {
    background-color: #e12d2d;
}
body.workspace #commands dt.up.selected > .arrow {
    border-left-color: #e12d2d;
}
body.workspace #commands dt.dn {
    background-color: #e44444;
    border-color: #e44444;
}
body.workspace #commands dt.dn > .arrow {
    border-right-color: #e44444;
}
body.workspace #commands dt.dn.selected {
    background-color: #d61f1f;
}
body.workspace #commands dt.dn.selected > .arrow {
    border-right-color: #d61f1f;
}
#index {
    border: 1px dotted transparent;
    color: #ff9640;
    background-color: #e9d1be;
}
#index .bar {
    border-color: #db6300;
}
body.index #index {
    color: white;
    background-color: #ff9742;
}
body.index #commands > dt.index {
    display: block;
    opacity: 0.9;
}
body.index #commands > dt.index.selected {
    opacity: 1;
}
body.index #commands {
}
body.index #commands dt.up {
    background-color: #f6984c;
    border-color: #f6984c;
}
body.index #commands dt.up > .arrow {
    border-left-color: #f6984c;
}
body.index #commands dt.up.selected {
    background-color: #f37c1b;
}
body.index #commands dt.up.selected > .arrow {
    border-left-color: #f37c1b;
}
body.index #commands dt.dn {
    background-color: #f48a34;
    border-color: #f48a34;
}
body.index #commands dt.dn > .arrow {
    border-right-color: #f48a34;
}
body.index #commands dt.dn.selected {
    background-color: #e96f0c;
}
body.index #commands dt.dn.selected > .arrow {
    border-right-color: #e96f0c;
}
#local_repo {
    border: 1px dotted transparent;
    color: #cd0074;
    background-color: #cc66a0;
}
#local_repo .bar {
    border-color: #66003a;
}
body.local_repo #local_repo {
    color: white;
    background-color: #cc0074;
}
body.local_repo #commands > dt.local_repo {
    display: block;
    opacity: 0.9;
}
body.local_repo #commands > dt.local_repo.selected {
    opacity: 1;
}
body.local_repo #commands {
}
body.local_repo #commands dt.up {
    background-color: #c20a72;
    border-color: #c20a72;
}
body.local_repo #commands dt.up > .arrow {
    border-left-color: #c20a72;
}
body.local_repo #commands dt.up.selected {
    background-color: #910856;
}
body.local_repo #commands dt.up.selected > .arrow {
    border-left-color: #910856;
}
body.local_repo #commands dt.dn {
    background-color: #aa0964;
    border-color: #aa0964;
}
body.local_repo #commands dt.dn > .arrow {
    border-right-color: #aa0964;
}
body.local_repo #commands dt.dn.selected {
    background-color: #790647;
}
body.local_repo #commands dt.dn.selected > .arrow {
    border-right-color: #790647;
}
#remote_repo {
    border: 1px dotted transparent;
    color: #bf3030;
    background-color: #b3a2a2;
}
#remote_repo .bar {
    border-color: #6e1c1c;
}
body.remote_repo #remote_repo {
    color: white;
    background-color: #c03030;
}
body.remote_repo #commands > dt.remote_repo {
    display: block;
    opacity: 0.9;
}
body.remote_repo #commands > dt.remote_repo.selected {
    opacity: 1;
}
body.remote_repo #commands {
}
body.remote_repo #commands dt.up {
    background-color: #b43c3c;
    border-color: #b43c3c;
}
body.remote_repo #commands dt.up > .arrow {
    border-left-color: #b43c3c;
}
body.remote_repo #commands dt.up.selected {
    background-color: #8e2f2f;
}
body.remote_repo #commands dt.up.selected > .arrow {
    border-left-color: #8e2f2f;
}
body.remote_repo #commands dt.dn {
    background-color: #a13636;
    border-color: #a13636;
}
body.remote_repo #commands dt.dn > .arrow {
    border-right-color: #a13636;
}
body.remote_repo #commands dt.dn.selected {
    background-color: #7a2929;
}
body.remote_repo #commands dt.dn.selected > .arrow {
    border-right-color: #7a2929;
}