body {
    min-height: 2000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}

h2 {
    padding: 8px;
    border-radius: 4px;
}

.cheatsheet .prefix {
    margin-right: 20px;
}

.cheatsheet .cmd {
    background: #333;
    font-size: 22px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 0 5px;
}

.cheatsheet .tmuxcmd {
    background: #294904;
}

.cheatsheet .cmd .fa-dollar {
    font-size: 21px;
    font-weight: normal;
}

.cheatsheet p {
    font-size: 16px;
    margin: 5px 0 25px 0;
    color: #666;
}

.cheatsheet .shortcut {
    font-size: 22px;
    color: #333;
    margin: 0 0 5px;
}

.cheatsheet .shortcut kbd {
    color: #fff;
    background: #333;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #aaa;
    font-size: 22px;
    padding: 3px 10px;
}
